<app-nav-bar></app-nav-bar>

<div class="container-fluid" *ngIf="userData">
    <div class="row flex-nowrap">
        <div class="col-auto col-xl-2 col-md-2 col-sm-2 sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                    <span class="d-none d-sm-inline menuProfil menuList">Principale</span>
                    <hr>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0  align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="/collection" class="nav-link align-middle px-0">
                            <i class="fa-regular fa-images pr-2"></i><span class="ms-1 d-none d-sm-inline">Ma
                                collection</span>
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-envelope-open"></i><span
                                class="ms-1 d-none d-sm-inline">Message</span> </a>
                    </li>
                    <span class="d-none d-sm-inline my-3 menuList">Liste</span>
                    <li>
                        <a routerLink="/favoris" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-heart"></i><span class="ms-1 d-none d-sm-inline">Mes
                                favoris</span></a>
                    </li>
                    <span class="d-none d-sm-inline my-3 menuList">Compte</span>
                    <li>
                        <a routerLink="/profil" class="nav-link px-0 align-middle ">
                            <i class="fa-regular fa-user"></i><span
                                class="ms-1 d-none d-sm-inline">Profil</span></a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-gear"></i><span class="ms-1 d-none d-sm-inline">Paramètres</span>
                        </a>
                    </li>
                    <!-- <li class="w-100">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-power-off"></i> <span
                                class="ms-1 d-none d-sm-inline">Déconnexion</span>
                        </a>
                    </li> -->
                </ul>
                <hr>
                <!-- <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div> -->
            </div>
        </div>


        <div class="page mx-auto w-100" >
            <div class="col-xl-4 py-3 mx-auto bloc1">
                <div class="blocProfil p-5">
                <form [formGroup]="editUser" (ngSubmit)="update()">

                <h2>Détails du profil</h2>
                <hr>
                <!-- <div class="form-group">
                    <label for="exampleFormControlFile1">Modifier la photo</label><br>
                    <input type="file" class="form-control-file">
                </div><br> -->

                <div class="form-group mt-3">
                    <label for="firstName" class="form-label">Prénom</label>
                    <input type="text" id="firstName" formControlName="firstName" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="lastName" class="form-label">Nom</label>
                    <input type="text" id="lastName" formControlName="lastName" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="pseudo" class="form-label">Pseudo</label>
                    <input type="text" id="pseudo" formControlName="pseudo" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" formControlName="email" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="phoneNumber" class="form-label">Téléphone</label>
                    <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
                </div>

                <!-- <div class="form-group">
                    <label for="profilTextArea">À propos de moi</label>
                    <textarea class="form-control" id="profilTextArea" rows="3" onkeyup="reste(this.value);" maxlength="250"></textarea><br>
                    <small><span class="caractereRestant">250 </span>caractères restants</small>
                </div> -->
            </form>
        </div>
    </div>
    <div class="col-xl-4 mx-auto bloc2">
        <div class="blocProfil p-5">
        <form [formGroup]="editUser" (ngSubmit)="update()">
            <h2>Changer de mot passe</h2>
            <hr>
            <div class="consignePassword">Votre mot de passe doit au moins être<br> de 8 caractères de long,
                contenir 1 lettre<br> majuscule, minuscule, un chiffre et ne<br> doit pas contenir d'espace ou d'emoji.
            </div><br>
            <!-- <div>
                <label for="inputPassword5" class="form-label">Mot de passe actuel</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder=""><br>
            </div> -->
            <div>
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
<!-- 
            <div>
                <label for="inputPassword5" class="form-label">Confirmer nouveau mot de passe</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
            </div><br> -->
            <div *ngIf="updateUser" class="alert alert-success mt-3">Profil mis à jour</div>
            <button type="submit" [disabled]="!editUser.valid" class="btn mx-auto mt-3">Sauvegarder les modifications</button>

    </form>
            </div>
        </div>
    </div><!-- dernier rajouter -->

    </div>
</div>
<!-- 
<div *ngIf="userData" > {{userData.pseudo}}</div>
<div class="container text-light">
    <form [formGroup]="editUser" (ngSubmit)="update()">
        
      <div class="mb-3">
        <label for="firstName" class="form-label">firstName</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
    </div>
        
      <div class="mb-3">
        <label for="lastName" class="form-label">lastName</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>

      <div class="mb-3">
        <label for="pseudo" class="form-label">Pseudo</label>
        <input type="text" id="pseudo" formControlName="pseudo" class="form-control">
    </div>

      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
    </div>

      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
    </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">phoneNumber</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
    </div>

      <div class="mb-3">
        <label for="avatar" class="form-label">avatar</label>
        <input type="text" id="avatar" formControlName="avatar" class="form-control">
    </div>
    <div *ngIf="updateUser" class="alert alert-success">Profil mis à jour</div>
      <button type="submit" [disabled]="!editUser.valid" class="btn btn-primary">Save modification</button>
    </form>
  </div> -->
