<footer>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-lg-9 col-md-8 col-sm-12 text-lg-start sombre">
                <!-- <span>Dark Mode </span><i class="fa-solid fa-moon changeTheme"></i> -->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 text-center">
                <h4>Suivez nous sur les réseaux</h4>
                <i class="bi bi-twitch fa-4x me-2"></i>
                <i class="bi bi-twitter me-2"></i>
                <i class="bi bi-instagram me-2"></i>
                <i class="bi bi-youtube me-2"></i>
                <i class="bi bi-facebook me-2"></i>
            </div><br>

        </div>
        <hr>
        <div class="row mt-0 contact logo">
            <div class="col-lg-2 col-md-12 col-sm-12 credit">
                <span>2018 - 2023, Oktone Network, inc</span>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <a href="./presentation.html" class="aPropos"><p>A propos de Future</p></a>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p>Politique<br>de confidentialité</p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p>Conditions<br> d'utilisation</p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p>Support</p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p>Contact</p>
            </div>

        </div>
    </div>
</footer>