<app-nav-bar></app-nav-bar>

<section>
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Creér un NFT</h2>

              <form (ngSubmit)="createNft()" #nftForm="ngForm">
                <div class="form-outline mb-4">
                  <label for="title" class="form-label">Titre :</label>
                  <input type="text" id="title" name="title" class="form-control" [(ngModel)]="nftData.title" required>
                </div>
                <!-- <div class="form-outline mb-4">
                  <label for="user">User :</label>
                  <input type="text" id="user" name="user" class="form-control" [(ngModel)]="nftData.user" required>
                </div> -->
                <div class="form-outline mb-4">
                  <label for="description">Description :</label>
                  <textarea id="description" name="description" class="form-control" [(ngModel)]="nftData.description" required></textarea>
                </div>
                <div class="form-outline mb-4">
                  <label for="price">Prix :</label>
                  <input type="number" id="price" name="price" class="form-control" [(ngModel)]="nftData.price" required>
                  <small *ngIf="priceErrorMessage" class="text-danger">{{ priceErrorMessage }}</small>
                </div>
                <div class="form-outline mb-4">
                  <label for="filePath">Url du NFT :</label>
                  <input type="text" id="filePath" name="filePath" class="form-control" [(ngModel)]="nftData.filePath" required>
                </div>
                <div class="form-group mb-4">
                  <label for="alt">Texte alternatif:</label>
                  <input type="text" id="alt" name="alt" class="form-control" [(ngModel)]="nftData.alt" required>
                </div>
                <div class="form-group  mb-4">
                  <label for="category">Catégorie :</label>
                  <input type="text" id="category" name="category" class="form-control" [(ngModel)]="nftData.category" required>
                </div>
                <div class="form-group mb-4">
                  <label for="collection">Collection :</label>
                  <input type="text" id="collection" name="collection" class="form-control" [(ngModel)]="nftData.collection" required>
                </div>
                <div *ngIf="nftCreated" class="alert alert-success">
                  Nft a été créé et publié
                </div>
                <button type="submit" class="btn mt-2" [disabled]="!nftForm.form.valid">Créer NFT</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
