<app-nav-bar></app-nav-bar>

<section class="mt-5">
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Creér un NFT</h2>


<form (ngSubmit)="createNft()" #nftForm="ngForm">
  <div class="form-outline mb-4">
    <label for="title" class="form-label">Titre :</label>
    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="nftData.title" required>
  </div>
   <!-- <div class="form-outline mb-4">
    <label for="user">User :</label>
    <input type="text" id="user" name="user" class="form-control" [(ngModel)]="nftData.user" required>
  </div> -->
  <div class="form-outline mb-4">
    <label for="description">Description :</label>
    <textarea id="description" name="description" class="form-control" [(ngModel)]="nftData.description" required></textarea>
  </div>
  <div class="form-outline mb-4">
    <label for="price">Prix :</label>
    <input type="number" id="price" name="price" class="form-control" [(ngModel)]="nftData.price" required>
  </div>
  <div class="form-outline mb-4">
    <label for="filePath">Chemin du fichier :</label>
    <input type="file" id="filePath" name="filePath" class="form-control" (change)="addFile($event)" [(ngModel)]="nftData.filePath" required>
  </div>
  <div class="form-group">
    <label for="alt">Texte alternatif :</label>
    <input type="text" id="alt" name="alt" class="form-control" [(ngModel)]="nftData.alt" required>
  </div>
  <div class="form-group">
    <label for="category">Catégorie :</label>
    <input type="text" id="category" name="category" class="form-control" [(ngModel)]="nftData.category" required>
  </div>
  <div class="form-group">
    <label for="collection">Collection :</label>
    <input type="text" id="collection" name="collection" class="form-control" [(ngModel)]="nftData.collection" required>
  </div>
  <div *ngIf="nftCreated" class="alert alert-success">
    Nft à été créée et publié
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!nftForm.form.valid">Créer NFT</button>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</section>



<!-- <section>
 class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"
  
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Creér un NFT</h2>

              <form (ngSubmit)="createNft()" #nftForm="ngForm">

                <div class="form-outline mb-4">
                  <label class="form-label" for="title">Titre</label>
                  <input type="text" id="title" class="form-control" [(ngModel)]="nftData.title" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="description">Description</label>
                  <input type="textarea" id="description" class="form-control" [(ngModel)]="nftData.description" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="price">prix</label>
                  <input type="number" id="price" class="form-control" [(ngModel)]="nftData.price" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="filePath">Chemin du fichier</label>
                  <input type="file" id="filePath" class="form-control" [(ngModel)]="nftData.filePath" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="alt">Texte alternatif</label>
                  <input type="text" id="alt" class="form-control" [(ngModel)]="nftData.alt" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="category">Catégorie</label>
                  <input type="text" id="category" class="form-control" [(ngModel)]="nftData.category" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="collection">Collection</label>
                  <input type="text" id="collection" class="form-control" [(ngModel)]="nftData.collection" />
                </div>


                <div class="d-flex justify-content-center">
                  <button type="button" type="submit" [disabled]="!nftForm.form.valid"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Créer</button>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- <div class="container">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un Pokemon</h1>
    <br>
     <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)"> 
      <div class="mb-3">
        <input placeholder="title" type="text" class="form-control" name="title" ngModel required>
      </div>
      <div class="mb-3">
        <input placeholder="price" type="number" class="form-control" name="price" ngModel required>
      </div>
      <div class="mb-3">
        <label for="filePath">Choose Nft:</label>
        <input type="file" class="form-control" name="filePath" ngModel required>
      </div>
      <div class="mb-3">
        <input placeholder="Picture" type="text" class="form-control" name="picture" ngModel required>
      </div>
      <div class="mb-3">
        <input placeholder="description" type="text" class="form-control" name="description" ngModel required>
      </div>
      <div class="mb-3">
        <input placeholder="alt" type="text" class="form-control" name="alt" ngModel required>
      </div>
      <div class="mb-3">
        <input placeholder="categories" type="text" class="form-control" name="categories" ngModel required>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter Nft</button>
    </form>
  </div> -->
  <br><br><br><br>

  <!-- <form (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div>
        <label for="title">Title</label>
        <input type="text"  id="name" formControlName="title" />
    </div>
    <div>
        <label for="price">Price en Ethereum</label>
        <input type="number"  id="price" formControlName="price" >
    </div>
    <div>
        <label for="filePath">filePath</label>
        <input type="text" formControlName="filePath" id="filePath" >
    </div>
    <div>
        <label for="alt">Alt</label>
        <input type="text" formControlName="alt" id="alt" >
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" formControlName="description" id="description" >
    </div>
    <div>
        <label for="user">User</label>
        <input type="text" formControlName="user" id="user" >
    </div>
    <div>
        <label for="categories">Categorie</label>
        <input type="text" formControlName="categories" id="categories" >
    </div>
    <div>
        <label for="collection">Collection</label>
        <input type="text" formControlName="collection" id="collection" >
    </div>
   
    <button>Submit</button>
</form> -->