<h2 class="mt-5 mb-4 ms-lg-3 ms-md-0 ms-sm-0">Articles</h2>

<div class="container-fluid mx-auto d-md-flex justify-content-md-around">
    <div class="row gy-4 gy-md-0 w-100">
        <div class="col-lg-4 col-md-8 col-10 mx-auto">
            <article class="py-lg-3 py-md-2 py-sm-2 mx-2">
                <div class="card card2">
                    <img class="card-img-top" src="../../assets/img/article/actu3.jpg" alt="Card image NFT">
                    <div class="card-body">
                        <h3 class="card-title">Actu #1</h3>
                        <p class="card-text">Qu'est ce qu'un NFT?</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-8 col-10 mx-auto">
            <div class="py-lg-3 py-md-2 py-sm-2 mx-2">
                <article class="card card2">
                    <img class="card-img-top" src="https://cdn.dribbble.com/users/2417352/screenshots/16302153/media/3d31405e1d9baa9d7e60af5f5bbac187.png?resize=450x338&vertical=center" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Actu #2</h3>
                        <p class="card-text">Créer votre propre NFT</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-10 mx-auto">
            <div class="py-lg-3 py-md-2 py-sm-2 mx-2">
                <article class="card card2">
                    <img class="card-img-top" src="../../assets/img/article/actu1.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Actu #3</h3>
                        <p class="card-text">Guide du wallet</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>