<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<br>

<ng-container class="container" *ngIf="carts.length !== 0">
    <h1>Mon Panier</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nb</th>
          <th>Nft</th>
          <th>Prix</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of carts; let i = index">
          <td>{{i+1}}</td>
          <td><img src="https://127.0.0.1:8000/upload/{{item.filePath}}" alt="{{ item.alt }}" class="imgBasket"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.price }} ♦️ ({{ 1600000 / 1000 * item.price }} €)</td>
          <td>{{ item.total }}</td>
          <td><button (click)="removeFromCart(item)" class="btn bg-danger">X</button>></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td><button class="btn bg-danger">Empty Card</button></td>
            <td><button routerLink="/gallery" class="btn bg-primary">Shop More</button></td>
            <td><button class="btn bg-success">Checkout</button></td>
            <td>Total :  €</td>
        </tr>
      </tbody>
    </table>
  </ng-container>



<ng-container *ngIf="carts.length == 0">
    <div>
        <img>
        <h4>Your cart is empty</h4>
        <h6>Add item now</h6>
        <button routerLink="/gallery" class="btn bg-success">Shop now</button>
    </div>
</ng-container>