@import '/src/assets/variables.scss';


.scrollHigth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 11px;
    bottom: 20px;
    z-index: 1;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: $main-color-black;
    border-radius: 50%;
    display:none;
}

.scrollHigth i {
    color: $main-color-background !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    font-size: 20px;
    right: 19px;
    bottom: 28px;
    
}

@media screen and (max-width: 425px){
    .scrollHigth {
        right: 18px;
    }
    .scrollHigth i {
        right: 27px;
    }
}