@import '/src/assets/variables.scss';

h2 {
    color: $main-color-black;
    font-weight: 700 !important;
    font-size: 38px !important;
    text-transform: uppercase;
}

#carouselDown {
    height: 550px !important;
    width: 90% !important;
    border-radius: 30px;
    background-color: $main-color-purple;
    // margin-top: 50px;
    .nomCollection {
        color: $main-color-purpleLight;
        font-size: 25px;
        height: 20px;
        width: 20px;
    }
    .gifProfil {
        height: 75px;
        width: 75px;
        border-radius: 5px;
    }
    .gif {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }
    .user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .changeImg {
        border-radius: 30px;
    }
    .imgCarouselDown {
        border-radius: 30px;
        height: 350px;
        max-width: 350px;
        object-fit: cover;
    }
    .button1 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-flow: row;
        position: relative;
        white-space: nowrap;
        background: $main-color-black;
        line-height: 54px;
        height: 54px;
        border: 1px solid transparent;
        min-width: auto;
        font-size: 16px;
        border-radius: 16px;
        padding: 10px 22.5px;
        font-weight: 700;
        font-family: inherit;
        transition: all 0.15s ease-in-out 0s;
        transform-origin: center center;
        user-select: none;
        color: $main-color-background;
    }

    .nomCollection {
        font-weight: 700;
        font-size: 25px;
    }
    h2 {
        font-weight: 700;
        font-size: 25px;
    }
    h3 {
        font-weight: 700;
        font-size: 30px;
        color: $main-color-background;
    }
    p {
        color: $main-color-background;
        font-weight: 600;
    }
    .changeText {
        color: $main-color-background;
        font-weight: 600;
    }

}

.buttonSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255,255,255, 0.3);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    
}

@media screen and (max-width: 1377px) {
 #carouselDown{
    display: none;
 }
}

@media screen and (max-width: 765px) {
    h2 {
        text-align: center;
    }
    .buttonCategory {
        display: flex;
        justify-content: center;
    }
}