    <div class="container-fluid py-4" id="carouselDown">
        <div class="row mb-3">
            <div class="col-2"></div>
            <div class="col-8 d-flex flex-row justify-content-between"><div class="flex-start nomCollection"><img src="../../assets/img/profil/naruto.gif" class="gif"> DIVIDEND</div>
            </div>
            <div class="col-2"></div>
        </div><br>

        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-4 changeImg"><img src="../../assets/img/carouselDown/itachi2.png" class="imgCarouselDown"></div>
            <article class="col-4">
                <h3 class="changeTitle">LOREM IPSU <i class="bi bi-patch-check-fill"></i></h3>
                <h2 class="changeTitle2">ANON KATZ</h2>
                <p class="changeText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua</p><br>
                <div class="flex-end changeText">by <img src="../../assets/img/profil/naruto.gif" class="user"> forexus</div><br>
                <button class="button1">Explore</button><br>
                <div class="timer"></div>
            </article>
            <div class="col-2">
            </div>

            <div class="row">
                <div class="col-12 mx-auto d-flex flex-row justify-content-center">
                    <div class="buttonSlider point1"></div>
                    <div class="buttonSlider point2"></div>
                    <div class="buttonSlider point3"></div>
                </div>
            </div>
        </div>
    </div>

