<app-nav-bar></app-nav-bar><br><br>

  <section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-flex justify-content-center align-items-center d-xl-block">
                <div class="blocImg">
                <img src="https://w0.peakpx.com/wallpaper/999/352/HD-wallpaper-pain-akatsuki-aesthetic-anime-boruto-kawaki-itachi-madara-nagato-naruto-uzumaki-rinnegan-sharingan-uchiha-sasuke-yahiko-konan.jpg"
                  alt="Sample photo" class="img-fluid"/>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase text-center">Formulaire d'inscription</h3>
                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="firstName">Prénom</label>
                        <input type="text" id="firstName" class="form-control" formControlName="firstName"/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="lastName">Nom de famille</label>
                        <input type="text" id="lastName" class="form-control" formControlName="lastName"/>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="pseudo">Pseudo</label>
                        <input type="text" id="pseudo" class="form-control" formControlName="pseudo"/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="email">Email</label>
                        <input type="text" id="email" class="form-control" formControlName="email"/>
                        <small *ngIf="emailErrorMessage" class="text-danger">{{ emailErrorMessage }}</small>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="adress">Addresse numéro et rue</label>
                    <input type="text" id="adress" class="form-control" formControlName="street"/>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="city">Ville</label>
                        <input type="text" id="city" class="form-control" formControlName="city"/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="zipCode">Code postale</label>
                        <input type="text" id="zipCode" class="form-control" formControlName="zipCode"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="country">Pays</label>
                    <select id="country" class="form-select" formControlName="country">
                        <option value="">Sélectionnez un pays</option>
                        <option value="États-Unis">États-Unis</option>
                        <option value="Canada">Canada</option>
                        <option value="Mexique">Mexique</option>
                        <option value="Brésil">Brésil</option>
                        <option value="Royaume-Uni">Royaume-Uni</option>
                        <option value="France">France</option>
                        <option value="Kenya">Pérou</option>
                        <option value="Égypte">Colombie</option>
                        <option value="Maroc">Irlande</option>
                        <option value="Allemagne">Allemagne</option>
                        <option value="Italie">Italie</option>
                        <option value="Espagne">Espagne</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Russie">Russie</option>
                        <option value="Chine">Chine</option>
                        <option value="Japon">Japon</option>
                        <option value="Australie">Australie</option>
                        <option value="Inde">Inde</option>
                        <option value="Afrique du Sud">Afrique du Sud</option>
                        <option value="Nigéria">Phillipines</option>
                    </select>
                </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="phoneNumber">Téléphone</label>
                        <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber"/>
                        <small *ngIf="phoneNumberErrorMessage" class="text-danger">{{ phoneNumberErrorMessage }}</small>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="birthDate">Date de naissance</label>
                        <input type="date" id="birthDate" class="form-control" formControlName="birth"/>
                      </div>
                    </div>
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Genre: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" formControlName="gender" id="femaleGender"
                        value="women" />
                      <label class="form-check-label" for="femaleGender">Femme</label>
                    </div>
                  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" formControlName="gender" id="maleGender"
                        value="man" />
                      <label class="form-check-label" for="maleGender">Homme</label>
                    </div>
                  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" formControlName="gender" id="otherGender"
                        value="other" />
                      <label class="form-check-label" for="otherGender">Autre</label>
                    </div>
  
                  </div>

  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example99">Mot de passe</label>
                    <input type="password" id="form3Example99" class="form-control" formControlName="password"/>
                    <!-- <small class="text-danger" *ngIf="userForm.get('password')?.hasError('pattern')">
                      Le mot de passe doit contenir au moins 10 caractères, au moins une lettre majuscule, un chiffre et un caractère spécial.
                    </small> -->
                    <small *ngIf="passwordErrorMessage" class="text-danger">{{ passwordErrorMessage }}</small>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Avatar</label>
                    <input type="text" id="form3Example97" class="form-control" formControlName="avatar" />
                  </div>

                  <div *ngIf="subscriptionValid" class="alert alert-success">
                    Inscription validée
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button> -->
                    <button type="submit" class="btn ms-2">S'inscrire</button>
                  </div>
  
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </section>

<!--   
 <form class="container" #userPost="ngForm" (ngSubmit)="onSubmit(userPost)">


    <input type="text" name="firstName" placeholder="firstName">

    <input type="text" name="lastName" ngModel placeholder="lastName">

    <input type="pseudo" name="pseudo" ngModel placeholder="pseudo">

    <input type="email" name="email" ngModel placeholder="email">

    <input type="password" name="password" ngModel placeholder="password">

      <input type="date" name="birthDate" ngModel>

    <input type="text" name="phoneNumber" ngModel placeholder="phoneNumber">

    <input type="text" name="avatar" ngModel placeholder="avatar">

    <input type="text" name="gender" ngModel placeholder="gender">

    <input type="text" name="street" ngModel placeholder="street">

    <input type="text" name="zipCode" ngModel placeholder="zipcode">

    <input type="text" name="city" ngModel placeholder="city">

  <button type="submit" >Valider</button>
  <br><br>
</form>  -->