<app-nav-bar></app-nav-bar><br><br>

<div>works</div>
<div>works</div>
<div>works</div>
<div>works</div>
<div>works</div>

 <form class="container" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label class="form-label">Prénom</label>
      <input type="text" formControlName="firstName" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Nom de famille</label>
      <input type="text" formControlName="lastName" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Pseudo</label>
      <input type="pseudo" formControlName="pseudo" required>
        <div *ngIf="userForm.get('pseudo')?.hasError('required')">
    Le pseudo est requis.
  </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" formControlName="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Mot de passe</label>
      <input type="password" formControlName="password" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Date de naissance</label>
        <input type="date" formControlName="birth" required>
      </div>
    <div class="mb-3">
      <label class="form-label">Téléphone:</label>
      <input type="text" formControlName="phoneNumber" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Avatar</label>
      <input type="text" formControlName="avatar" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Genre</label>
      <input type="text" formControlName="gender" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Numéro et Rue</label>
      <input type="text" formControlName="street" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Code postal</label>
      <input type="text" formControlName="zipCode" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Ville</label>
      <input type="text" formControlName="city" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Pays</label>
      <input type="text" formControlName="country" required>
    </div>
    <div *ngIf="subscriptionValid" class="alert alert-success">
      Inscription validée
    </div>

  
    <button type="submit" >Valider</button>
    <br><br>
  </form> 

<!--   
 <form class="container" #userPost="ngForm" (ngSubmit)="onSubmit(userPost)">


    <input type="text" name="firstName" placeholder="firstName">

    <input type="text" name="lastName" ngModel placeholder="lastName">

    <input type="pseudo" name="pseudo" ngModel placeholder="pseudo">

    <input type="email" name="email" ngModel placeholder="email">

    <input type="password" name="password" ngModel placeholder="password">

      <input type="date" name="birthDate" ngModel>

    <input type="text" name="phoneNumber" ngModel placeholder="phoneNumber">

    <input type="text" name="avatar" ngModel placeholder="avatar">

    <input type="text" name="gender" ngModel placeholder="gender">

    <input type="text" name="street" ngModel placeholder="street">

    <input type="text" name="zipCode" ngModel placeholder="zipcode">

    <input type="text" name="city" ngModel placeholder="city">

  <button type="submit" >Valider</button>
  <br><br>
</form>  -->