<!--CARD CONTENT 2-->

<h2 class="mb-5 ms-3">Collection naruto</h2>

<div class="row mx-auto gy-md-4 gy-sm-5">
    <div class="col-lg-2 col-md-4 col-6" *ngFor="let naruto of narutoList; let index = index">

        <div class="card card1 mx-auto">
            <img src="https://127.0.0.1:8000/upload/{{naruto.filePath}}" class="card-img-top" alt="Image 1">
            <h5 class="card-body">
                <h5 class="card-title">{{naruto.title}}</h5>
                <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                    <div>
                        <h6>Floor</h6>
                        <p> 0.51 ETH</p>
                    </div>
                    <div>
                        <h6 >Volume</h6>
                        <p>28.2K ETH</p>
                    </div>
                </div>
            </h5>

    </div>
</div>
<button type="submit" class="buttonCategorie mt-5 ms-3">VOIR CATÉGORIE</button>


<h2 class="mb-5 ms-3">Collection naruto</h2>

    <div class="row mx-auto gy-md-4 gy-sm-5">
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto1.jpg" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">My Hero Academia</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6 >Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto2.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Hunter X Hunter</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6>Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto3.jpg" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Jujustu Kaisen</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6>Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto4.jpg" class="card-img-top" alt="Image 4">
                <div class="card-body">
                    <h5 class="card-title">Psycho pass</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6>Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto5.jpg" class="card-img-top" alt="Image 5">
                <div class="card-body">
                    <h5 class="card-title">Scissor Seven</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6>Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
            <div class="card card1 mx-auto">
                <img src="./img/naruto/naruto6.jpg" class="card-img-top" alt="Image 6">
                <div class="card-body">
                    <h5 class="card-title">Neon time</h5>
                    <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                        <div>
                            <h6>Floor</h6>
                            <p> 0.51 ETH</p>
                        </div>
                        <div>
                            <h6>Volume</h6>
                            <p>28.2K ETH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="buttonCategorie mt-5 ms-3">VOIR CATÉGORIE</button>
