<!--CARD CONTENT 2-->

<h2 class="mb-4 mt-5 ms-md-5 ms-sm-0">Collection naruto</h2>


<div class="row mx-auto gy-md-4 gy-sm-5 ms-md-5 me-md-5 ms-sm-0 me-sm-0">
    <div class="col-lg-2 col-md-4 col-6" *ngFor="let naruto of narutoList; let index = index">
        
        <div class="card card1 mx-auto" routerLink="/gallery/{{naruto.id}}">
            <img src="{{naruto.filePath}}" class="card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">{{naruto.title}}</h5>
                <div class="card-text d-flex justify-content-between mt-4 align-items-end">
                    <div>
                        <h6>Floor</h6>
                        <p>{{naruto.price}} ETH</p>
                    </div>
                    <div>
                        <h6 >Volume</h6>
                        <p>X</p>
                    </div>
                </div>
            </div>
        
    </div>
</div>

<div class="buttonCategory w-100">
    <button type="submit" class="button1 mt-3 ms-2">Voir catégorie</button>
</div>



