@import '/src/assets/variables.scss';

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

section {
    margin-top: 40px;

    button {
        background-color: $main-color-purple;
        color: $main-color-background;
    }
    img {
        height: 600px;
        object-fit: fill;
    }
}

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }