<app-nav-bar></app-nav-bar>
<!-- <p>a-favoris works!</p>
<p>a-favoris works!</p>
<p>a-favoris works!</p>
<p>a-favoris works!</p> -->

<!-- <h1>Mes NFT Favoris</h1>
<div class="container">
<div class="row">
<div class="col-4"  *ngFor="let nft of favoris">

    
<article>
  <h2>{{nft.title}}</h2>
  <img src="https://127.0.0.1:8000/upload/{{nft?.filePath}}" class="imgFavoris">
  <span>{{nft.price}}</span>
  <h2>{{nft.description}}</h2>
  <button class="btn btn-danger" (click)="removeFromFavoris(nft)">Delete</button>
</article>

</div>
</div>
</div> -->


<!-- <div class="container-fluid profiler">
  <div class="row flex-nowrap">
      <div class="col-2 col-xl-2 col-md-2 col-sm-2 sidebar">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                  <span class="d-none d-sm-inline menuProfil menuList">Principale</span>
                  <hr>

              <ul class="nav nav-pills flex-column mb-sm-auto mb-0  align-items-sm-start"
                  id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fa-regular fa-images pr-2"></i><span class="ms-1 d-none d-sm-inline">Ma
                              collection</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fa-regular fa-envelope-open"></i><span
                              class="ms-1 d-none d-sm-inline">Message</span> </a>
                  </li>
                  <span class="d-none d-sm-inline my-3 menuList">Liste</span>
                  <li>
                      <a routerLink="/favoris" class="nav-link px-0 align-middle">
                          <i class="fa-regular fa-heart"></i><span class="ms-1 d-none d-sm-inline">Mes
                              favoris</span></a>
                  </li>
                  <span class="d-none d-sm-inline my-3 menuList">Compte</span>
                  <li *ngIf="userData">
                      <a [routerLink]="'/profil/' + (userData?.id || '')"data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fa-regular fa-user"></i><span
                              class="ms-1 d-none d-sm-inline">Profil</span></a>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fa-solid fa-gear"></i><span class="ms-1 d-none d-sm-inline">Paramètres</span>
                      </a>
                  </li>
                  <li class="w-100">
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fa-solid fa-power-off"></i> <span
                              class="ms-1 d-none d-sm-inline">Déconnexion</span>
                      </a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                      id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                          class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="page col-10" > -->
        <!-- <div class="col-10 py-3 mx-auto d-flex flex-row"> -->
         <!-- <div class="row text-center w-100 mx-auto">
          <div class="col-3 mt-3" *ngFor="let nft of favoris">
            
            <img src="https://127.0.0.1:8000/upload/{{nft?.filePath}}" class="imgFavoris">
            <h2>{{nft.title}} #{{nft.id}}</h2>
              <span>{{nft.price}} </span><img src="../../assets/img/eth/eth.png" class="eth"> <br>
              <button class="btn button1 me-2">Ajouter</button><button class="btn btn-danger" (click)="removeFromFavoris(nft)">Supprimer</button>
        </div>
      </div>

  </div>
</div> -->

<div class="container-fluid profiler">
  <div class="row">
      <div class="col-auto col-xl-2 col-md-2 col-sm-2 sidebar">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                <span class="d-sm-inline menuProfil menuList">Principale</span>
                <hr>

              <ul class="nav mb-sm-auto mb-sm-auto mb-0 align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="/collection" class="nav-link align-middle px-0">
                          <i class="fa-regular fa-images pr-2"></i><span class="ms-1 d-sm-inline">Ma
                              collection</span>
                      </a>
                  </li>
                  <li>
                      <a data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fa-regular fa-envelope-open"></i><span
                              class="ms-1 d-sm-inline">Message</span> </a>
                  </li>
                  <span class=" d-sm-inline my-3 menuList">Liste</span>
                  <li>
                      <a routerLink="/favoris" class="nav-link px-0 align-middle">
                          <i class="fa-regular fa-heart"></i><span class="ms-1 d-sm-inline">Mes
                              favoris</span></a>
                  </li>
                  <span class="d-sm-inline my-3 menuList">Compte</span>
                  <li *ngIf="userData">
                      <a [routerLink]="'/profil/' + (userData?.id || '')" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fa-regular fa-user"></i><span
                              class="ms-1 d-sm-inline">Profil</span></a>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fa-solid fa-gear"></i><span class="ms-1 d-sm-inline">Paramètres</span>
                      </a>
                  </li>
              </ul>
              <hr>
          </div>
      </div>

      <div class="page col-lg-10 col-md-12 mx-auto" >
        <div class="container-fluid manageBloc d-flex justify-content-between mt-3">
            <div class="mt-5 ms-4">
                <h1>TES FAVORIS</h1>
                <p class="mt-4">Dashboard de gestion de tes NFTS.<br>
                Retrouve sans plus attendre les créations que tu as le plus appréciées.
                </p>
            </div>
            <div class="mt-5 explore">
                <div class="explore1"><h3>FAVORIS</h3></div>
                <div class="explore2"><h3>FAVORIS</h3></div>
                <div class="explore3"><h3>FAVORIS</h3></div>
            </div>
        </div>
    
    
    <div class="col-md-10 col-lg-12 mx-auto">
        
            <!-- <div class="col-3 mt-3" *ngFor="let nft of nftList; let index = index;">
                <img src="https://127.0.0.1:8000/upload/{{nft?.filePath}}" class="imgFavoris">
                <h2>{{nft.title}} #{{nft.id}}</h2>
                <span>{{nft.price}} </span><img src="../../assets/img/eth/eth.png" class="eth"> <br>
                <button class="btn button1 me-2">Ajouter</button><button (click)="confirmDeleteNft(nft.id, index)" class="btn btn-danger">Supprimer</button>
            </div> -->
            
        <div class="row mx-auto d-flex justify-content-around">
            <div class="col-md-3 col-sm-1 globe" *ngFor="let nft of favoris">
                <div class="text-center">
                    <img src="https://127.0.0.1:8000/upload/{{nft?.filePath}}" class="imgFavoris2">
                    <!-- <img src="https://127.0.0.1:8000/upload/{{nft?.filePath}}" class="imgFavoris2"> -->
                    <a (click)="removeFromFavoris(nft)" class="text-danger"><i class="fas fa-trash fa-lg icon-overlay"></i></a>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="ms-2">
                        <h2>{{nft.title}}</h2>
                        <span>#{{nft.id}}</span><br>
                        <img src="../../assets/img/eth/eth.png" class="eth"> <span class="ms-2 ">{{nft.price}} </span> <br>
                        
                    </div>
                    <div class="d-flex text-left">
                        <!-- <button class="btn btn-danger">Supprimer</button> -->
                        <!-- <button class="btn button1 d-flex justify-content-center align-items-center">Edit</button> -->
                    </div>
                </div>             
            </div>
        </div>
    
    </div>

</div>
</div>
</div>

