@import '/src/assets/variables.scss';

nav {
    background-color: $main-color-black;
    height: 80px;
    z-index: 3;
    input {
        width: 300px;
        background-color: $main-color-purpleLight;
    }
    
    .nav-link:hover {
        color: $main-color-purple!important;
        // background-color: $main-color-purple;
        // border-radius: 20px !important;
        transition: 600ms;
        
    }
    ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .imgProfil {
        object-fit: fill;
        height: 35px;
         width: 35px;
    }
    .register {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: $main-color-background;
    }
    .register:hover {
        color: $main-color-purple;
        transition: 600ms;
    }
    .dropdown-menu {
        margin-left:-50px;
    }
    
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
    color: $main-color-purpleLight;
    border-radius: 20px !important;
}

.navbar .navbar-brand img{
    height: 60px;
    width: 60px;
    
}

.navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar .toggle-btn {
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
}

.login {
    background-color: $main-color-purple;
    color: $main-color-background;
}

.navbar .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: $main-color-purpleLight;
}

.navbar .toggle-btn .bar:nth-child(2) {
    width: 35px;
}

.navbar #toggle-menu {
    display: none;
}

// .mobil {
//     display: none !important;
// }
// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
//     -webkit-transform: translateX(50px);
//     -ms-transform: translateX(50px);
//     transform: translateX(50px);
//     opacity: 0;
// }

// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {

//     -webkit-transform: translateY(12px) rotate(45deg);
//     -ms-transform: translateY(12px) rotate(45deg);
//     transform: translateY(12px) rotate(45deg);
// }

// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {

//     -webkit-transform: translateY(-8px) rotate(-45deg);
//     -ms-transform: translateY(-8px) rotate(-45deg);
//     transform: translateY(-8px) rotate(-45deg);
// }
@media screen and (max-width: 992px) {

    .container-fluid {
        background-color: $main-color-black;
        .collapse {
            background-color: $main-color-black;
            width: 100%;
            .list {
                ul {
                    // text-align: center;
                    .mobil {
                        visibility: visible;
                    }
                }
            }
            .liPicture {
                width: 105%;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .container-fluid {
        .collapse {
            .liPicture {
                width: 107%;
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .container-fluid {
        .collapse {
            .liPicture {
                width: 109%;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .container-fluid {
        .collapse {
            .liPicture {
                width: 110%;
            }
        }
    }
}