@import '/src/assets/variables.scss';

nav {
    background-color: $main-color-black;
    height: 80px;
    input {
        width: 300px;
        background-color: $main-color-purpleLight;
    }
    
    .nav-link:hover {
        color: $main-color-purple!important;
        // background-color: $main-color-purple;
        // border-radius: 20px !important;
        transition: 600ms;
        
    }
    ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .imgProfil {
        object-fit: fill;
    }
    
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
    color: $main-color-purpleLight;
    border-radius: 20px !important;
}

.navbar .navbar-brand img{
    height: 60px;
    width: 60px;
    
}

.navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar .toggle-btn {
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
}

.login {
    background-color: $main-color-purple;
    color: $main-color-background;
}

.navbar .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: $main-color-purpleLight;
}

.navbar .toggle-btn .bar:nth-child(2) {
    width: 35px;
}

.navbar #toggle-menu {
    display: none;
}

// .mobil {
//     display: none !important;
// }
// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
//     -webkit-transform: translateX(50px);
//     -ms-transform: translateX(50px);
//     transform: translateX(50px);
//     opacity: 0;
// }

// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {

//     -webkit-transform: translateY(12px) rotate(45deg);
//     -ms-transform: translateY(12px) rotate(45deg);
//     transform: translateY(12px) rotate(45deg);
// }

// .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {

//     -webkit-transform: translateY(-8px) rotate(-45deg);
//     -ms-transform: translateY(-8px) rotate(-45deg);
//     transform: translateY(-8px) rotate(-45deg);
// }
@media screen and (max-width: 992px) {

    .container-fluid {
        background-color: $main-color-black;
        .collapse {
            background-color: $main-color-black;
            width: 100%;
            .list {

                ul {
                    text-align: center;
                    .mobil {
                        visibility: visible;
                    }
                }
                input{
                    text-align: center;
                }
            }
        }
    }
}
// .modal-dialog {
//     margin-left: -3px;
//     margin-top: -3px;
//     width: 100%;
// }

// .modal-dialog .modal-content{
//     background-color: $main-color-purple;
    
// }

// .modal-dialog .modal-header, .modal-dialog .modal-footer{
//     border: none;
// }

// .modal-dialog .modal-header img{
//     max-height: 40px;
// }

// .modal-dialog .modal-body {
//     padding-top: 65px;
//     background-color: $main-color-black;
// }

// .modal-dialog .nav-link {
//     font-weight: 500;
//     font-size: 18px;
//     margin-bottom: 30px;
//     color: $main-color-purpleLight;
//     border-radius: 20px !important;
// }

// .modal-dialog .nav-link i {
//     font-size: 30px;
//     margin-right: 10px;
//     color: $main-color-purpleLight;
// }

// .dropdown-menu{
//     font-weight: 700 !important;
//     background-color: $main-color-purpleLight !important;
// }

// .dropdown-item{
//     color: $main-color-black !important;
// }

// .modal-dialog .btn-secondary{
//     font-weight: 700;
//     color: $main-color-purple;
//     background-color: $main-color-black;
//     border: none;
// }

// .fa-moon {
//     font-size: 20px;
//     color: $main-color-purpleLight;
// }