@import '/src/assets/variables.scss';

.imgFavoris {
    object-fit: fill;
    height: 240px;
    width: 190px;
    border-radius: 10px;
}

#profiler {
    h1 {
        font-size: 45px !important;
        margin-top: 15px;
    }
    
    h2 {
        font-size: 1.4em !important;
        color: $main-color-background;
    }
}

hr {
    height: 2px !important;
    color: $main-color-black !important;
}

ul {
    flex-direction: column;
}

ul li span, ul li a{
    color : white;
    
}

ul li {
    cursor: pointer;
}

input {
    width: auto;
}

small {
    font-size: 16px !important;
    font-weight: 400;
    color: $main-color-background;
}

span small {
    color:$main-color-background;
}

label, input {
    color: $main-color-background;
    font-weight: 400;
}

ul li i {
    margin-right: 10px;
}

ul li span:hover {
    color: $main-color-purple;
    transition: 400ms;
}

.page {
    margin-top: 75px;

    h2 {
        color: $main-color-black;
        text-transform: uppercase;
    }
    span{
        font-weight: 400;
        font-size: 15px;
    }
    .eth {
        width: 10px;
        height: 20px;
    }
    .button1 {
        background-color: $main-color-purple;
        color: $main-color-background;
    }
    .explore {
        display: flex;
        flex-direction: column;

    }
}

.menuProfil {
    margin-top: 100px;
    
}

.menuProfil, .menuList {
    color: $main-color-purple;
    font-size: 24px;
}

.menuProfilTitle {
    margin-top: 15px !important;
}


.sidebar {
    background-color: $main-color-black;
    width: 15%;
    .sidebarBloc {
        display: flex;
        flex-direction: column;
    }
}

.blocProfil {
    background-color: $main-color-purple;
    border-radius: 25px;
}
.bloc1 {
    margin-top: 96px ;
}
.bloc2 {
    margin-top: 115px ;
}

.bloc2 .btn {
    background-color: $main-color-black;
    color: $main-color-background;
    border-radius: 25px;
    padding: 10px;
}

.manageBloc {
    background-color: $main-color-black;
    height: 350px;
    border-radius: 30px;
    color: $main-color-background;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
    }
    .explore1{
        color: $main-color-background;
        opacity: 0.7;
        margin-right: 30px;
    }
    .explore2{
        color: #47484F;
    }
    .explore3{
        color: #2C2D36;
    }
}

.globe {
    margin-top: -100px;
    background-color: white;
    z-index: 2;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
    z-index: 2;
    margin-bottom: 130px;

    .imgFavoris2 {
        object-fit: fill;
        height: 200px;
        width: 100%;
        border-radius: 10px;
    }
    h2 {
        font-size:20px;
    }

    span {
        font-weight: bold;
    }
    .icon-overlay {
        position: relative;
        bottom: 19px;
        right: -53px;
        background-color: white;
        border-radius: 50%;
        padding: 18px;
        z-index: 1;
    }
    .icon-overlay i {
        font-size: 20px;
    }

    button {
        height: 40px;
    }
}

.dash {
    color: $main-color-background;
    margin-top: -100px;
    .dash1 {
        background: url('../../assets/img/article/sparkle4.png') no-repeat;
        filter: brightness(99%);
        border-radius: 30px;
        height: 400px;
        display: flex;
        align-items: end;
        .title {
            position: absolute;
            top: 50px;
            left: 40px;
            margin: 0;
        }
        .bloc1 {
            background-color: $main-color-background;
            height: 50%;
            width: 50%;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 90%;
                width: 90%;
                border-radius: 15px;
                object-fit: none;
                object-position: -70px -150px;
            }

            }
        }
        .bloc2 {
            h3 {
                font-size: 30px;
                font-weight: 700;
                color: $main-color-black;
        }
    }
    .dash2 {
        background-color: $main-color-black;
        border-radius: 30px;
        height: 400px;
        h2{
            color: $main-color-background;
            font-size: 25px;
        }
        h3 {
            color: $main-color-background;
            font-size: 20px;
            opacity: 0.8;
        }
        p{
            font-size: 16px;
            color: #47484F;
            font-weight: bold;
        }
    }
}



@media screen and (max-width: 1200px) {
    .page {
        display: flex !important;
        flex-direction: column !important;
        width: auto;
        margin-top: 10px;
    }
    .bloc1, .bloc2 {
        width: 500px;
    }
    .profiler {
        display: flex;
        flex-direction: column;
        .sidebar {
            width: 100%;
            height: 150px;
            margin-top: -90px;
            .sidebarBloc {
                align-items: center;

            }
            .menuList {
                visibility: hidden;
                width: 0px;
                margin-top: 30px;
            }
            ul {
                justify-content: space-between;
                flex-direction: row;
                li {
                    margin-left: 15px;
                }
            }
        }
    }

}


@media screen and (max-width: 901px) {
    .profiler {
        .sidebar {
            ul {
                li {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 657px) {
    .profiler {
        .sidebar {
            ul {
                li {
                    font-size: 8px;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .page {
        width: 95%;
        h1 {
            font-size: 20px !important;
        }
        p {
            font-size: 10px !important;
        }
        h3 {
            font-size: 10px !important;
            margin-right: 0px !important;
        }
        .explore {
            display: flex;
            justify-content: right;
        }
    }
    .manageBloc {
        width: 95%;
        height: 250px !important;
    }
    .page {
        margin-top: -5px;
    }
    
    .dash {
        .dash1 {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 550px) {
    
    .dash {
        display: flex !important;
        justify-content: center !important;
        .dash1, .dash2 {
            width: 80% !important;
            height: 300px !important;
        }
        .dash2 {
            h2{
                font-size: 18px;
            }
            h3 {
                font-size: 13px;
            }

        }
    }
}

@media screen and (max-width: 445px) {

    .globe {
        height: 210px;
        width: 120px !important;

        .imgFavoris2 {
            height: 100px !important;
            border-radius: 10px;
        }
        .icon-overlay {
            bottom: 19px;
            right: -29px !important;
            padding: 10px !important;
            font-size: 12px !important;
        }
        h2 {
            font-size:10px !important;
        }
        span {
            font-size: 10px;
        }
        button {
            font-size: 10px !important;
            height: 25px !important;
            width: 30px;
        }
        .eth {
            width: 5px;
            height: 15px;
        }
    }
    .parameters{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .manageBloc{
        height: 280px !important;
    }
}

@media screen and (max-width: 365px) {
    ul li {
        span {
           font-size: 6px;
           margin: 0;
       }
       }
}

@media screen and (max-width: 350px) {
    .manageBloc{
        height: 300px !important;
    }
}
