<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<br>
<label>Search</label>
<!-- <input type="text" [(ngModel)]="searchQuery" placeholder="Search by title"> -->
<div class="InputContainer">
  <input placeholder="Search by title" id="input" class="input" name="text" type="text" [(ngModel)]="searchQuery" placeholder="Search by title">
</div>

<div>
  <button (click)="sortNfts('ascending')" class="btn btn-primary">Trier par prix croissant</button>
  <button (click)="sortNfts('descending')" class="btn btn-primary">Trier par prix décroissant</button>
</div>

<div>
  <label for="filterPrice">Filtrer par prix inférieur à : </label>
  <input type="number" id="filterPrice" [(ngModel)]="filterValue" step="0.1">
  <button (click)="filterByPrice()" class="btn btn-primary">Filtrer</button>
</div>

<div>
  <label for="filterPrice2">Filtrer par prix superieure à : </label>
  <input type="number" id="filterPriceHight" [(ngModel)]="filterValue2" step="0.1">
  <button (click)="filterByPriceHight()" class="btn btn-primary">Filtrer</button>
</div>

<div>
  <button (click)="reloadPage()" class="btn btn-primary">Réinitialiser tout</button>
</div>



  <div id="zone2">


<!--     
    <div>
      <div class="spaceElement Classique box" >

        <div class="imgGalerie">
          <img class="groupeImage Classique image-0">
          <img src="{{nft.filePath}}" alt="image " class="groupeImage Classique image-0"> 
           <img [src]="nft.filePath" alt="image" class="groupeImage Classique image-0"> 

        </div>
        <div class="ajoutPanier">
          <a><button class="btn">Voir article</button></a>
        <button (click)="viewOneNft(nft.id)"  class="btn" type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
            view
          </button><br
          <a routerLink="/gallery/{{nft.id}}" class="btn btn-primary">Lire la suite</a>
        </div>
        <div class="details">
          <h3><i class="bi bi-patch-check-fill"></i>
          </h3>
          <div class="infoCardGalerie">
            <div>
              <h6>Floor</h6>
              <p>ETH</p>
            </div>
            <div>
              <button class="btn view" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Aperçu
            </button><br>
            </div>
          </div>
        </div>

    </div>
  </div> -->



    <div *ngFor="let nft of nftList; let index = index">
      <div class="spaceElement Classique box"  *ngIf="nft.title.toLowerCase().includes(searchQuery.toLowerCase())" [class.hidden]="!nft.title.toLowerCase().includes(searchQuery.toLowerCase())">

        <div class="imgGalerie">
          <img src="https://127.0.0.1:8000/upload/{{nft.filePath}}" alt="image " class="groupeImage Classique image-0">
          <!-- <img src="{{nft.filePath}}" alt="image " class="groupeImage Classique image-0"> -->
          <!-- <img [src]="nft.filePath" alt="image" class="groupeImage Classique image-0"> -->

        </div>
        <div class="ajoutPanier">
          <a routerLink="/gallery/{{nft.id}}"><button class="btn">Voir article</button></a>
          <!-- <button (click)="viewOneNft(nft.id)"  class="btn" type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
            view
          </button><br> -->
          <!-- <a routerLink="/gallery/{{nft.id}}" class="btn btn-primary">Lire la suite</a> -->
        </div>
        <div class="details">
          <h3>{{ nft.title }}<i class="bi bi-patch-check-fill"></i>
          </h3>
          <div class="infoCardGalerie">
            <div>
              <h6>Floor</h6>
              <p>{{ nft.price }} ETH</p>
            </div>
            <div>
              <button (click)="viewOneNft(nft.id)" class="btn view" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Aperçu
            </button><br>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content text-center">
          <div class="modal-header">
              <h1 class="modal-title text-center fs-5" id="exampleModalLabel">{{nftDetail?.title}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="mb-3 text-center">
              <img style="width: 350px; height: 500px; object-fit: cover; " src="{{nftDetail?.id}}" class="rounded-top card-img-top" alt="...">
          </div>
          <div class="mb-3">
              <p>{{nftDetail?.title}}</p>
          </div>
          <!-- <div class="mb-3">
              <p>CP : {{pokemonDetail?.cp}}</p>
          </div>
          <div class="mb-3">
              <p>HP : {{pokemonDetail?.hp}}</p>
          </div>
          <div class="mb-3">
              <p>TYPE : {{pokemonDetail?.types}}</p>
          </div> -->

      </div>
  </div>
</div>