<app-nav-bar></app-nav-bar>
<br>
<br>


<div class="container search d-flex jsutify-content-center flex-column">
    <label class=" mt-4">Rechercher un NFT...</label>
    <input type="email" class="form-control mt-2" placeholder="Rechercher..." [(ngModel)]="searchQuery">
  <!-- <input type="text" [(ngModel)]="searchQuery" placeholder="Search by title"> -->
  <!-- <div class="InputContainer">
    <input placeholder="Search by title" id="input" class="input" name="text" type="text" [(ngModel)]="searchQuery" placeholder="Search by title">
  </div> -->
  <label class=" mt-4">Trier prix :</label>
  <div class="mt-2">
    
    <button (click)="sortNfts('ascending')" class="btn me-2">Trier par prix croissant</button>
    <button (click)="sortNfts('descending')" class="btn">Trier par prix décroissant</button>
  </div>

  <div class="mt-4">
    <label for="filterPrice">Filtrer par prix inférieur à : </label>
    <input type="number" class="form-control mt-2" id="filterPrice" [(ngModel)]="filterValue" step="0.1">
    <button (click)="filterByPrice()" class="btn mt-2">Filtrer</button>
  </div>

  <div class="mt-4">
    <label for="filterPrice2">Filtrer par prix supérieure à : </label>
    <input type="number" class="form-control mt-2" id="filterPriceHight" [(ngModel)]="filterValue2" step="0.1">
    <button (click)="filterByPriceHight()" class="btn mt-2">Filtrer</button>
  </div>

  <div>
    <button (click)="reloadPage()" class="btn mt-3 mb-4">Réinitialiser tout</button>
  </div>

</div>

<div id="zone2">
  <div *ngFor="let nft of nftList; let index = index">
    <div class="spaceElement Classique box"  *ngIf="nft.title.toLowerCase().includes(searchQuery.toLowerCase())" [class.hidden]="!nft.title.toLowerCase().includes(searchQuery.toLowerCase())">
        
      <div class="imgGalerie">
        <!-- <img src="https://127.0.0.1:8000/upload/{{nft.filePath}}" alt="image " class="groupeImage classique image-0"> -->
        <img src="{{nft?.filePath}}" alt="{{nft.description}}" class="groupeImage classique image-0">
      </div>

      <div class="ajoutPanier">
        <a><button class="btn" routerLink="/gallery/{{nft.id}}">Voir article</button></a>
      </div>

      <div class="details">
        <h3>{{ nft.title }}<i class="bi bi-patch-check-fill"></i>
        </h3>

        <div class="infoCardGalerie">
          <div>
            <h6 class="mt-2">Prix</h6>
            <div class="d-flex flex-row">
              <p class="me-2">{{ nft.price }}</p><img src="../../assets/img/eth/eth.png" class="eth">
            </div>
          </div>

        <div class="mt-2" (click)="viewOneNft(nft.id)">
          <button class="btn view" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Aperçu
          </button><br>
        </div>

      </div>
    </div>
  </div>
</div>
        




<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content text-center">
          <div class="modal-header">
              <h1 class="modal-title text-center fs-5" id="exampleModalLabel">{{nftDetail?.title}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="mb-3 mt-2 d-flex justify-content-between mx-auto">
            <div class="ms-2">
              <img src="{{nftDetail?.filePath}}" class="rounded-top card-img-top imgModal" alt="...">
            </div>
            <div class="ms-2">
              <h3>Date de création {{nftDetail?.dateCreation | date}}</h3>
              <p *ngIf="ethActualPrice">Prix actuel en euro : {{nftDetail?.price * ethActualPrice.currentPrice / 100}} €</p>
            </div>
          </div>
      </div>
  </div>
</div>