@import '/src/assets/variables.scss';

.search{
  width: 60vw;
  background-color: $main-color-purple;
  border-radius: 15px;
  color: $main-color-background;
  font-size: 18px;
  button {
    background-color: $main-color-black;
    color: $main-color-background;
    font-size: 18px;
  }
}

/* CARD */

#zone2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .box{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin: 15px;

    .imgGalerie {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: 2;
      background-color: $main-color-black;
      img {
        object-fit: fill;
        height: 300px;
      }
    }

    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      z-index: 1;
      width: 100%;
      height: 110px;
      box-sizing: border-box;
      padding: 10px;

      h3 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
      }
      
      h6 {
        font-size: 15px;
      }
      
      p {
        font-size: 15px;
      }

      .infoCardGalerie {
        display: flex;
        justify-content: space-between;
        .eth {
          width: 10px;
          height: 20px;
        }
        
      }
    }

  }


}

.box:hover .imgGalerie {
  transform: translateY(-100px);
}

.box:hover .imgGalerie img {
  opacity: 0.5;
}

.box .imgGalerie img {
  transition: 0.5s;
  width: 100%;
}

.box .ajoutPanier {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  margin: 0;
  padding: 0;
}


.box .ajoutPanier a {
  position: relative;
  display: block;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}

.box .ajoutPanier a .btn{
  font-weight: 500;
  color: white;
  height: 40px;
  font-size: 15px;
  transition: 0.5s;
  background-color: $main-color-purple;
  border-radius: 20px;
  width: auto;
  cursor: pointer;
}
.test{
display:flex;
justify-content: center;
align-items: flex-start;
}
.details button {
width: auto;
height: 40px;
font-size: 14px;
font-weight: 600;
background-color: $main-color-purple;
color: #fff;
}

.box:hover .ajoutPanier a {
  transform: translateY(140px);
  opacity: 1;
  height: 300px;
}

.hidden {
  display: none;
}

.modal {
  .modal-content {
    background-color: $main-color-background;
  }
  .imgModal{
    object-fit: fill;
    width: 250px;
    height: 300px;
    border-radius: 15px;
  }
}