<!-- VISIBLE CAROUSEL DESKTOP/ HIDDEN MOBILE-->

<div class="container-fluid mx-auto d-flex justify-content-center align-items-center gx-lg-3 gx-md-2" id="actualite">
    <div class="row w-100 gx-lg-3 gx-y">
        <div class="col-lg-5 col-md-6 col-6 ps-5 pt-5 ">
            <h1>NFT MARKETPLACE<br><span class="textChange"></span></h1>
            <h3 class="mt-2">Le futur est à porté de main</h3>
            <!--<p>FUTURE est le premier NFT marketplace pour passionné d'animation.
                <br>Collect, buy, and sell arts from more 20k artist<br>
                Le futur est à porté de main-->
            
            <!--<h3>Le futur est à porté de main</h3>-->
            <div class="d-flex flex-start mt-4">
                <button type="submit" class="button1">Explore now</button>
                <button type="submit" class="button2 ms-2">Create</button>
            </div>
        </div>

        <div class="col-6">
        <div id="carouselExampleFades" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="./assets/img/actualite/itachi.webp" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="./assets/img/actualite/vinland.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-3">
                    <img src="./assets/img/actualite/hxh3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>

            
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="./assets/img/actualite/broly.webp" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="./assets/img/actualite/jujustu3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-3">
                    <img src="./assets/img/actualite/mha.jpg" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="./assets/img/actualite/hxh1.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="./assets/img/actualite/naruto3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-3">
                    <img src="./assets/img/actualite/itachi.webp" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>
            </div>
            
            <br><br>
            <div class="carousel-indicators">
              <button type="button" class="h-2" data-bs-target="#carouselExampleFades" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleFades" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleFades" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- HIDDEN CAROUSEL DESKTOP/ VISIBLE MOBILE-->

<h1 class="textHidden">NFT MARKETPLACE<br><span class="textChange1"></span></h1>
<div class="container-fluid mx-auto d-flex justify-content-center align-items-center gx-5" id="actualite1">
    <div class="row w-100">
        <div class="col-lg-4 col-12">
            <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="./assets/img/actualite/itachi.webp" class="imgActu" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="./assets/img/actualite/vinland.jpg" class="imgActu" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="./assets/img/actualite/itachi.webp" class="imgActu" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
