@import '/src/assets/variables.scss';

h1 {
    color: $main-color-black;
    font-weight: 700 !important;
    font-size: 45px !important;
}

h2 {
    color: $main-color-title;
    margin-top: 55px !important;
    font-size: 30px !important;
    font-weight: 900 !important;
    font-family: 'Lexend', sans-serif !important;
}

h3 {
    color: $main-color-purpleLight;
    font-size: 25px !important;
}

div i {
    font-size: 60px;
    color: white;
    letter-spacing: 20px;
}

p {
    font-size: 50px;
}

button {
    font-weight: bold;
    font-size: 55px;
    padding: 20px;
    color: $main-color-purpleLight;
    background-color: $main-color-black;
    border-radius: 15px;
}

/*ACTUALITE DESKTOP */

#actualite {
    height: 550px !important;
    width: 90% !important;
    border-radius: 30px;
    background-color: $main-color-purple;
    margin-top: 10px;

    .carousel-indicators button {
        border-radius: 0;
        width: 75px !important;
        background-color: grey !important;
        // color: red !important;
        bottom: 100px !important;
        height: 5px;
    }

    p {
        font-size: 15px;
        color: grey;
    }

    .imgActu1 {
        height: 250px !important;
        border-radius: 30px;
        max-width: 250px;
    }

    .button1 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-flow: row;
        position: relative;
        white-space: nowrap;
        background: $main-color-black;
        line-height: 54px;
        height: 54px;
        border: 1px solid transparent;
        min-width: auto;
        font-size: 19px;
        border-radius: 16px;
        padding: 10px 22.5px;
        font-weight: 700;
        font-family: inherit;
        transition: all 0.15s ease-in-out 0s;
        transform-origin: center center;
        user-select: none;
    }

    .button1:hover {
        background: #333333;
    }

    .button2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-flow: row;
        position: relative;
        white-space: nowrap;
        background: rgba(255, 255, 255, 0.04);
        line-height: 54px;
        height: 54px;
        border: 1px solid transparent;
        min-width: auto;
        font-size: 19px;
        border-radius: 16px;
        padding: 10px 22.5px;
        font-weight: 700;
        font-family: inherit;
        transition: all 0.15s ease-in-out 0s;
        transform-origin: center center;
        user-select: none;
    }

    .button2:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    
    .textChange:after{
        color: $main-color-purpleLight;
        content: 'MANGA';
        animation: text 10s ease-out infinite;
    }
}

/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/

.textHidden {
    color: $main-color-title !important;
    visibility: hidden;
    height: 0px;

    .textChange1:after {
        color: $main-color-purple;
        content: 'MANGA';
        animation: text 10s ease-out infinite;
    }
    
}

#actualite1 {
    height: 700px;
    width: 100%;
    border-radius: 30px;
    background-color: $main-color-purple;
    visibility: hidden;
    height: 0px;
    .imgActu {
            height: 250px !important;
            border-radius: 25px;
        }
}

/* CONTENU CACHEE DESKTOP & TABLET */

.textMobile {
    visibility: hidden;
    height: 0;
}

@keyframes text {
    25% {
        content: 'FUTUR'
    }
    50% {
        content: 'ART';
    }
    75% {
        content: 'META'
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1900px) {
    .imgActu1 {
        height: 200px;
    }
}

@media screen and (max-width: 1700px) {
    .imgActu1 {
        height: 300px;
    }
}

@media screen and (max-width: 1470px) {
    .imgActu1 {
        height: 230px;
    }
}

@media screen and (max-width: 1200px) {

    #actualite {
        height: 400px !important;
        button {
            width: 100px;
            font-size: 20px;
            height: 40px;
        }
        h1 {
            font-size: 30px !important;
        }
        h3 {
            font-size: 25px!important;
        }
        
        .imgActu1 {
            height: 180px !important;
        }
        .button1 {
            width: auto !important;
        }
        .textActu {
            font-size: 12px !important;
        }
    }
}

@media screen and (max-width: 991px) {
    /*CAROUSEL ACTUALITE*/

    #actualite {
        height: 300px !important;

        .imgActu1 {
            height: 160px !important;
        }
        h1 {
            font-size: 25px;
        }
        h3 {
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 870px) {
    #actualite{
        h1 {
            font-size: 28px !important;
        }
        .imgActu1 {
            height: 160px !important;
            max-width: 100px;
        }
    }
}

@media screen and (max-width: 764px) {
    .textMobile {
        visibility: visible;
        font-size: 20px;
        height: 150px;
        margin-top: 0px;
    }

/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/
    #actualite {
        display: none !important;
        height: 0px !important;
        margin-top: 0px;
        
    }
    .textHidden {
        visibility: visible;
        color: var(--main-color-black);
        text-align: center;
        margin-top: 0;
        font-weight: bold;
        font-size: 40px;
    }

    #actualite1 {
        visibility: visible;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0px;
        height: 330px;
        width: 100%;
        margin-top: 100px;
        
        .imgActu {
            height: 150px;
        }
    }
    #actualite1 h1, #actualite1 h3, #actualite1 button {
        visibility: hidden;
        height: 0px;
    }
}

@media screen and (max-width: 600px) {

    h2 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px !important;
    }
}