<!-- VISIBLE CAROUSEL DESKTOP/ HIDDEN MOBILE-->

<div class="container-fluid mx-auto d-flex justify-content-center align-items-center gx-lg-3 gx-md-2" id="actualite">
    <div class="row w-100 gx-lg-3 gx-y">
        <div class="col-lg-5 col-md-6 col-6 ps-5 pt-5 ">
            <h1>NFT MARKETPLACE<br><span class="textChange"></span></h1>
            <h3 class="mt-2">Le futur est à porté de main</h3>
            <!--<p>FUTURE est le premier NFT marketplace pour passionné d'animation.
                <br>Collect, buy, and sell arts from more 20k artist<br>
                Le futur est à porté de main-->
            
            <!--<h3>Le futur est à porté de main</h3>-->
            <div class="d-flex flex-start mt-4">
                <button type="submit" class="button1" routerLink="/gallery">Explore now</button>
                <button type="submit" class="button2 ms-2" routerLink="/formNft">Create</button>
            </div>
        </div>

        <div class="col-6">
        <div id="carouselExampleFades" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="./assets/img/actualite/itachi.webp" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="./assets/img/actualite/naruto3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <img src="./assets/img/actualite/hxh3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>

            
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="./assets/img/actualite/broly1.webp" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="./assets/img/actualite/jujustu3.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <img src="https://static.displate.com/857x1200/displate/2021-10-20/ec9cd001954bc76c0e1509b9ad12da1b_4d06176c481a86269a9d09571336942b.jpg" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="row d-flex justify-content-around">
      
                  <div class="col-2">
                    <img src="https://static.displate.com/280x392/displate/2020-02-16/db5b788b6e99d16b1c96310fcbaa39f5_87b3f4b067ceb35795accd87ef734d31.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-2">
                    <img src="https://static.displate.com/280x392/displate/2021-04-28/5a4271997c9d17cca360cb7b7709a5a7_970f476c9550a5aa8fe2a2c2d831b832.jpg" class="d-block imgActu1" alt="...">
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <img src="https://static.displate.com/857x1200/displate/2023-01-04/7264c0bf3995b6085a34502c37ba31b8_af9c9c3c81585361aa38d51a41154e5f.jpg" class="d-block imgActu1" alt="...">
                  </div>
                </div>
              </div>
            </div>
            
            <br><br>
            <div class="carousel-indicators">
              <button type="button" class="h-2" data-bs-target="#carouselExampleFades" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleFades" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleFades" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- HIDDEN CAROUSEL DESKTOP/ VISIBLE MOBILE-->

<h1 class="textHidden">NFT MARKETPLACE<br><span class="textChange1"></span></h1>
<div class="container-fluid mx-auto d-flex justify-content-center align-items-center gx-5" id="actualite1">
    <div class="row w-100">
        <div class="col-lg-4 col-12">
            <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="./assets/img/actualite/itachi.webp" class="imgActu" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="./assets/img/actualite/vinland.jpg" class="imgActu" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="./assets/img/actualite/itachi.webp" class="imgActu" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
