<app-nav-bar></app-nav-bar>

    <!-- <div *ngFor="let eth of ethList;">

        <div>{{eth.currentPrice / 1000 * nft?.price}} €</div>
        <div>{{eth.updateDate}}</div>
     </div>
  </div> -->

  <!-- <div id="divChart">
    <canvas id="myChart"></canvas>
</div> -->

<div class="container-fluid details" *ngIf="nft">
    <h1 class="text-center">Détails du NFT</h1>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="row d-flex justify-content-center">
                <div class="col-12 blocDetails1 d-flex justify-content-center align-items-center flex-column">
                    <img src="{{nft?.filePath}}" class="imgDetails" alt="{{nft?.alt}}">
                    <h2>{{nft?.title}} # {{nft?.id}}</h2>
                </div>
                <article class="col-12 blocDetails2 mt-5">
                    <h2>Description</h2>
                    <div class="mt-2">{{nft?.description}}</div>
                    <div class="mt-0">Date de sortie : {{nft.dateCreation | date}}</div>
                    <div class="mt-0">Créer par : {{nft?.user.pseudo}}</div>
                    <div class="mt-0">Collection : {{nft?.collection.label}}</div>
                     <div>Categorie   <ng-container *ngFor="let category of nft?.categories">
                        <p class="ms-2">- {{ category.label }}</p>
                        
                    </ng-container></div><br>
                    
                </article>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row details3">
                <div class="col-12 blocDetails3 d-flex justify-content-center flex-column mt-5">
                    <div class="d-flex flex-column">
                        <h2 class="mt-3" *ngIf="nft?.user.pseudo">Propriété de : {{nft?.user.pseudo}}</h2>
                        <p class="mt-1" *ngIf="ethActualPrice">Prix actuel :<br>
                            {{nft?.price}} ♦️ ({{ethActualPrice.currentPrice /1000 * nft?.price | number : '1.2-2'}} €)
                        </p>
                        <div class="mt-2">
                            <button class="button" (click)="addToCart(nft)"> Ajouter au panier
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-2" (click)="addToFavoris(nft)"> Favoris
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 blocDetails4 mt-5">
                    <h2 class="mt-2 ms-2">DETAILS</h2>
                    <div class="h-75 details4">
                        <div class="d-flex flex-column justify-content-space-between align-items-center">
                            <div>Adresse de contrat</div>
                            <div class="mt-1">#chckHU6XC5js</div>
                        </div>
                        <div class="d-flex flex-column justify-content-space-between align-items-center">
                            <div>Token #ID</div>
                            <div>sfeff</div>
                        </div>
                        <div class="d-flex flex-column justify-content-space-between align-items-center">
                            <div>Token Standart</div>
                            <div>sfeff</div>
                        </div>
                        <div class="d-flex flex-column justify-content-space-between align-items-center">
                            <div>Blokchain</div>
                            <div>Ethereum</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="container mt-5">
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 blocDetails6">
        <div class="card">
            <svg class="img" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="100%" height="100%" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 784.37 1277.39" xmlns:xlink="http://www.w3.org/1999/xlink">
           <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <g id="_1421394342400">
             <g>
              <polygon fill="#343434" fill-rule="nonzero" points="392.07,0 383.5,29.11 383.5,873.74 392.07,882.29 784.13,650.54"></polygon>
              <polygon fill="#8C8C8C" fill-rule="nonzero" points="392.07,0 -0,650.54 392.07,882.29 392.07,472.33"></polygon>
              <polygon fill="#3C3C3B" fill-rule="nonzero" points="392.07,956.52 387.24,962.41 387.24,1263.28 392.07,1277.38 784.37,724.89"></polygon>
              <polygon fill="#8C8C8C" fill-rule="nonzero" points="392.07,1277.38 392.07,956.52 -0,724.89"></polygon>
              <polygon fill="#141414" fill-rule="nonzero" points="392.07,882.29 784.13,650.54 392.07,472.33"></polygon>
              <polygon fill="#393939" fill-rule="nonzero" points="0,650.54 392.07,882.29 392.07,472.33"></polygon>
             </g>
            </g>
           </g>
          </svg>
            <div class="textBox" *ngIf="ethActualPrice">
              <p class="text head">Ethereum</p>
              <span>Cryptocurrency</span>
              <p class="text price">{{ethActualPrice.currentPrice / 100}} €</p>
            </div>
          </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 mt-5">
        <div id="divChart">
            <canvas id="myChart"></canvas>
        </div>

    </div>
</div>
</div>
