/* You can add global styles to this file, and also import other style files */
$main-color-black: #100E0E;
$main-color-purple: #5A3E51;
$main-color-purpleLight: #D9DAFF;
$main-color-background: #d0d1fb;
$main-color-title : #000000;